<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />

	<!-- JS -->
	<script src="javascripts/jquery-2.2.0.min.js"></script>
	<script src="javascripts/bootstrap.min.js"></script>


  </head>
  <body>

  <nav>
  	<ul id="list-nav">
  		<li> <a href="/" title="Home">Home</a></li>
  		<li> <a href="/wanda" title="wanda">Wanda</a></li>
  		<li> <a href="/hans" title="hans">Hans</a></li>
  		<li> <a href="/dustin" title="dustin">Dustin</a></li>
  		<li> <a href="/riley" title="riley">Riley</a></li>
  	</ul>
  </nav>